/9.eaf
/9.pfsx
/annotations_person1.xml
/annotations_person2.xml
/cam-rear.mp4
/cam-table-door.mp4
/cam-table-wall.mp4
/date.txt
/DefaultXsltOutput.htm
/GTUtterancePerson1.txt
/GTUtterancePerson2.txt
/naovideo.mp4
/output.json
/person1.wav
/person2.wav
/persons.csv
/robot_utterances.csv
/Test.py
/testbis.py
/test_emotions.py
/timestamp-clapperboard.txt
/timestamp-elan-begin.txt
/Untitled-1.py
/__pycache__